@use "styles/mixins" as *;
@use "styles/variables" as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.field {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;

  & > * {
    display: block;
  }
}

.label {
  font-weight: 500;
  font-size: 14px;
}

.input {
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  font: inherit;
  transition: border-color 0.4s;

  &:focus {
    border-color: $color2;
  }
}
